.sidenav-container {
    height: 100vh;
  }
  
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .content {
    padding: 16px;
  }
  
  .active {
    font-weight: bold;
    color: #3f51b5;
  }

  .mat-sidenav-container {
    background: #f0f0f0; /* Use your desired background color */
    color: black;
  }

  .mat-sidenav {
    border-radius: 0;
  }

  .small-icon {
    max-width: 40px;
  }